html,body{
    padding: 0;
    margin:0;
}
li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.banner{
    width: 100%;
    height: 60px;
    border-bottom: darkgrey solid 0.5px;
}

.banner>.logo{
    width: 20%;
    height: 60px;
    position: absolute;
    background-color: #FFBBBB;
    text-align: center;
    line-height: 60px;
}

.banner>.nav{
    margin-left: 20%;
    height: 100%;
    background-color: darkgreen;
}

.banner>.nav>.search{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #1D336A;
}

.banner>.nav>ul{
    float: right;
    background-color: aqua;
}

.banner>.nav>ul>li{
    float: left;
}

.under_banner{
    width: 100%;
    height: auto;
    min-height: 240px;
    border-color: #e6e4e4;
    border-style: groove;
}

/*menu*/
.menu{
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 20%;
}
.menu > ul{
    padding: 0px;
    margin: 0px;
    color: #C6B4B4;
    background-color: #121F3E;
    cursor: pointer;
}
.menu > ul > li{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.menu > ul > .active{
    color:#ffffff;
    background-color: #1D336A;
}

/*right*/
.right{
    margin-left: 20%;
    height: auto;
    /*border-color: green;*/
    /*border-style: solid;*/
    background-color: #F5F5FA;
}
.wrap{
    height: auto;
    padding:20px;
    border-color: #BBBBBB;
    /*border-style: solid;*/
    background-color: #F5F5FA;
    display: none;
}
.page{
    display: block;
}
.content{
    width: auto;
    height: auto;
    /*margin: 20px;*/
    padding:20px;
    border-color: #dededd;
    border-style: solid;
    overflow: auto;
}
.content-line{
    overflow: auto;
    margin-bottom: 20px;

}
.content-line > button{
    cursor: pointer;
    background-color: white;
    border-color: #c7c7c7bb;
    border-radius: 3px;
    outline: none;
}



/*通用*/
.col-fl-1{
    padding-left:5px;
    margin-right: 10px;
    width: 50px;
    line-height: 27px;
    float: left;
    font-family: monospace;
    font-size: medium;
}
.col-fl-2{
    padding-left:5px;
    margin-right: 10px;
    width: 100px;
    line-height: 27px;
    float: left;
    font-family: monospace;
    font-size: medium;
}
.col-fl-3{
    padding-left:5px;
    margin-right: 10px;
    width: 150px;
    line-height: 27px;
    float: left;
    font-family: monospace;
    font-size: medium;
}
.col-fl-3 > input{
    border:1px solid #ccc;
    line-height: 17px;
    padding: 5px 3px;
    outline: 0px;
}
.col-fl-3 > button{
    border:1px solid #ccc;
    line-height: 17px;
    padding: 5px 3px;
    outline: 0px;
}
.col-textright{
    text-align: right;
}
.text_edit{
    min-width: 60px;
    min-height: 50px;
    /*border-color: green;*/
    /*border-style: solid;*/
}
.text_edit > .left_text{
    width: 30px;
    height: 380px;
    overflow: hidden;
    border-color: #FFBBBB;
    /*border-style: solid;*/
    background-color: rgba(226, 230, 228, 1);
    color: #ffffff;
    resize: none;
    font-size: medium;
    text-align: center;
}
.text_edit > .right_text{
    width: 550px;
    height: 380px;
    overflow: scroll;
    border:0px;
    resize: none;
    font-size: medium;
    border:0px;
    padding:0px;
    outline:0px;
}
.content-column-left{
    width: 41%;
    position: absolute;
}
.content-column-right{
    width: 750px;
    float: right;
}


